{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}OpenWhisper{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% tailwind_css %}
        {% block extra_head %}{% endblock %}
    </head>
    <body class="min-h-screen bg-slate-950 text-slate-100 antialiased">
        {% block body %}
            <div class="mx-auto max-w-6xl px-4 py-8">
                {% block content %}{% endblock %}
            </div>
        {% endblock %}
    </body>
</html>
